<div class="panel form-panel">
    <div class="panel-body">
        <%t = 'Create a new task' %>
        
        <%= render :partial => 'title', :locals => {:t => t} %>
        
        <%= form_for @task, :remote => true do |f| %>
            <div class="formerror"></div>
            <%= render :partial => 'form', :locals => {:f => f} %>
        
            <%= f.submit 'Create', :class => 'btn btn-default create-btn'%>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <% end %>
    </div>
</div>

