<h1>Create a new to-do</h1>

<%= form_for @todo, :url => {:controller => 'todos', :action => 'create'} do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>

    <%= f.submit 'Create'%>

<% end %>

