<h1><%= @Page_title %></h1>

<ul>
    <li>description: <%= @todo.description %></li>
    <li>importance: <%= @todo.importance %></li>
</ul>
<%= link_to 'Back to List', :controller => 'todos', :action => 'index' %>